
.slider{
    width: 100%;
    height: 21em;
  }
  .slider-img {
    height: 350px;
  }
  .slides{
   display: none;
   width: 100%;
  position: relative;
  }
  .slides::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
  }
 
  .galerie{
   position:absolute;
   width: 100%;
   height: 20em;
  }
  .titre{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #fff;

    
  }
  .slides h2{
   
    position: absolute;
    text-align: center;
    align-items: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5em;
    font-size: 1.8em;
  
  }
  .slides P{
    font-size: 1.2em;
    position: absolute;
    top: 50%;
    width: 70%;
    
  }
  .prev,
  .next{
  cursor: pointer;
  color: black;
  position: absolute;
  padding: 16px;
  border-radius: 3px 3px 3px 3px;
  background:rgba(0, 0, 0, .5);
  transition: all .3s;
  }
  .prev{
    transform: translate(0, -50%);
  left: 0;  
  top: 50%;
  }
  .next{
    transform: translate(50%, 0);
    right: 1em;
    top: 45%;
  }    
  .dot{
   position: relative;
   bottom: 3em;
    cursor: pointer;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 10px 2px 0 2px ;
    display: inline-block;
    background:#ddd;
    transition: all .3s; 
  }
  .active,
  .dot:hover {
    background:rgba(0, 0, 0, .8);
  }
  .sbar{
   position: relative;
    background-color: rgb(194, 194, 194);
      
      width: 100%;
      display:flex ;
      flex-direction: column;
      align-items: center;
      transition: 0.5s;
  
  }
 .sbar h2{
  font-size: 1.5em;
  width: 50%;
  text-align: center;
 }

 .date input{
   border-radius: 0.5em;
   background-color:rgba(128, 125, 125, 0.109) ;
   border: none;
 }

 .sbar button{
  color: #000;
  height: 2.5em;
  width: 8em;
 background: #41ace8;
  text-transform: uppercase;
  border-radius: 1em;
  text-align: center;
  margin-bottom: 1.5em;
  margin-top: 1.1em;
  border: none;
 }
 .sbar button:hover {
  background: #5a98bd;
  cursor: pointer;
  height: 2.6em;
  width: 9em;
 }


 .presentation_all{
    background-color: white;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.presentation{
    margin-top: 1.5em;
    background-color: white;
    text-align: center;
}
.presentation h2 {
  margin-bottom: .8em;
}

.btne{
  display: flex;
  align-items: center;
 
  color: #000;
  height: 2.5em;
  width: 8em;
 background: #41ace8;
  text-transform: uppercase;
  border-radius: 1em;
 
   margin-top: 2em;
border: none;
}
 .btne a{
  position: relative;
  color: #000;
  left: 1.2em;
  text-decoration: none;
 }

.slider1{
  position:relative;
  width: 100%;
  height: auto;
  margin:2em 0 1.4em 0;
}
.slides1{
 display: none ;
}
.galerie1{
 width: 100%;
}
.all{
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
.discription{
  text-align: center;

  margin-top: 50px;
  }
  .discription h3{
    font-size: 2em;

  }
  .discription p{
    text-align: center;

  }
  .all img{
    width: 20em;
    height: 15em;
  }
  .all button{
    color: #000;
    height: 2.5em;
    width: 8em;
    background: #41ace8;
    text-transform: uppercase;
    border-radius: 1em;
    text-align: center;
    margin-top: 2.5em;
    border: none;

  }
.prev1,
.next1{
cursor: pointer;
color: black;
position: absolute;
padding: 16px;
border-radius: 3px 3px 3px 3px;
background:rgba(0, 0, 0, .5);
transition: all .3s;
}
.prev1{
  transform: translate(0, -50%);
  top: 50%;
left: 1em;  
}
.next1{
  transform: translate(50%, 0);
  top: 45%;
  right: 2em;
}   
.next1:hover{
  opacity:1 ;
} 

.prev1:hover{
  opacity:1 ;
} 
.dot1{
  display: none;

}

.temoignage h2{
  font-size: 2em;
  text-align: center;
  color: #000;
  
}
.temoignage{
  background-image: url(./img/image_hotel.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.temoignage .contenu{
  display: flex;
  margin-top: 40px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;

}
.temoignage .contenu .box{
  width: 20em;
  height: 15em;
  margin: 20px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 5px 15px 50px rgba(0, 0, 0, 8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 2em;
  
}
.temoignage .contenu .box .imbox{
  width: 70px;
  height: 80px;
  border-radius: 50px;
 
  overflow: hidden;
}
.temoignage .contenu .box .imbox img{
 
  width: 100%;
  height: 100%;

  object-fit: cover;
  justify-content: center;
  align-items: center;
}
.temoignage .contenu .box .etoiles img {
  width: 35px;
  height: 35px;
  margin-left: 2px;
}
.temoignage .contenu .box .text{
  text-align: center;
  color: #000;
  font-style: italic;
  font-size: 1em;
  width: 15em;
}
.temoignage .contenu .box .text h3{
  color: tomato;
  margin-top: 20px;
  font-size: 1em;
  font-weight: 600;
}
.btn_noter{
  
  color: #fff;
   height: 2.5em;
   width: 8em;
  background: #D2691E;
   text-transform: uppercase;
   border-radius: 1em;
   text-align: center;
   border: none;
   cursor: pointer;
   margin-bottom: 15px;
}
.btn_noter:hover{
    height: 3em;
 letter-spacing: 0.2em;
 background: #f37c0c;
 transition: ease-in-out;
}

/*notation*/
.notation{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  width: 80vw;
  position: absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
border-radius: 10px;
}
.titre h1 {
  color: #000;
}
.rating {
direction: rtl;
}
.rating a {
color: #aaa;
text-decoration: none;
font-size: 3em;
transition: color .4s;
}


.rating a:hover,
.rating a:focus,
.rating a:hover ~ a,
.rating a:focus ~ a {
color: orange;
cursor: pointer;
}
.message{
 margin: 2em;
}

.message .inputboites input,
.inputboites textarea{
width: 20em;
border: 0.1em solid #555;
padding: 0.5em;
color: #111;
outline: none;
font-size: 1em;
font-weight: 300;
resize: none;
height: 10em;
margin-top: 1.5em;
}
.btnSection{
color: #000;
 height: 2.5em;
 width: 8em;
background: #41ace8;
 text-transform: uppercase;
 border-radius: 1em;
 text-align: center;
 margin-bottom: 0.7em;
 position: relative;
 
 border: none;
 cursor: pointer;
 
}
.btnSection:hover{
letter-spacing: 0.2em;
background: #048edf;
transition: ease-in-out;
}


.modal {
display: none;
position: fixed; 
z-index: 1; 
left: 0;
top: 0;
width: 100%; 
height: 100%;
overflow: auto; 
background-color: rgba(0,0,0,0.4);

}

.close {
color: #aaa;
float: right;
font-size: 2em;
font-weight: bold;
align-self: flex-end;
margin-right: 7px;
}

.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}
/* Fin notation*/
@media (min-width:1115px) {
  .sbar{
    display: flex;
    flex-direction: row;
    align-items: center;
   
    
  }
  .sbar h2{
    font-size: 1.5em;
    text-align: center;
    width: 30%;
    
    
   }
  .date{
    display: flex;
    position: relative;
    flex-direction: row;
    
    justify-content: space-between;
  }
  .date input{
    margin-left: 5em;
    margin-right: 2em;
  }
  .sbar button{
    margin-left: 10em;
    margin-top: 1.5em;
  }
}
@media (min-width:715px) {
.slider {
  height: 30em;
}
.slider-img {
  height: 500px;
}
.presentation{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.presentation p{
  text-align: center;
width: 70%;
}
.discription{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin-left: 7em;
}
.discription p{
  text-align: center;
}
.all{
  justify-content: space-between;
}


 .presentation_all{
   margin-top: 2em;
 }
.all{
  display: flex;
  flex-direction: row;
}
.all img{
  height: 20em;
  width: 23em;
  margin-right: 2em;
}
.all button{
  display: none;
}
.dot1{
  position: relative;
   bottom: 3em;
    cursor: pointer;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 10px 2px 0 2px ;
    display: inline-block;
    background:#ddd;
    transition: all .3s; 
}
.active,
  .dot1:hover {
    background:rgba(0, 0, 0, .8);
  }

  .temoignage .contenu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.temoignage{
    background-image: url(./img/image_hotel.jpg);
    background-size: cover;
    height: 70vh;
}
.btn_noter{
    margin-top: 3em;
}
.notation {
  width:60vw;
}
}