
body{
    margin: 0px;  
    padding: 0px;
}
.typechambre{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2em 0;
   margin-top: 4em;

}


.all{
    display: flex;
    flex-direction:column-reverse;
    align-items:center;
    
   
  }
  .all1{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column-reverse;
   
  }
  .img{
      display: flex;
      align-items: center;
      flex-direction: column;
  }
  .bloc1 p{
      text-align: center;
      width: 20em;
      margin-top: 1.5em;
      font-family: 'Cormorant Garamond', serif;
  }
  .discription{
    text-align: center;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    margin-top: 5em;
    margin-bottom: 2em;
    }
    .discription1{
      text-align: center;
      font-family: 'Cormorant Garamond', serif;
      margin-top: 5em;
      margin-bottom: 2em;
      }
      .blok{
        margin-top: 1.5em;
      }
      .blok p{
        text-align: center;
      width: 20em;
      margin-top: 1.5em;
      }
    .discription h3,.discription1 h3{
        margin-bottom: 1.2em;
      font-size: 2em;
      font-family: 'Cormorant Garamond', serif;
    }
    .discription h3,.discription1 h3{
      font-size: 1.5em;
      justify-content: space-between;
    }
    .all img{
      width: 20em;
      height: 15em;
    }

    .all1 img{
        width: 20em;
        height: 15em;
      }

      @media (min-width:715px){
        .all{
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-between;
          margin: 1em 5em;
          
        }
        .all1{
            display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin: 1em 5em;
          
        }
       
        
      
        .discription1{
            display: flex;
            flex-direction: column;
        }
        .discription{
          display: flex;
          justify-content: center;
          flex-direction: column;
          
        
        }
    }