
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: rgba(0,0,0,.1);
}
.container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:-1;
    opacity: .8;
    background: url('img/image3.jpg') no-repeat;
    background-size: cover;

}
.connexionform{
     padding: 7em 0.2em;
     background: rgba(255, 255, 255, 0.863);
     box-shadow: 5px 15px 50px rgba(0, 0, 0, .8);
    margin: 30px 0;
     border-radius: 2em;
     justify-content: center;
    width:65vw;
     display: flex;
     align-items: center;
     flex-direction: column;

    
   
}
.connexionform .inputboite{
    position: relative;
    width: 100%;
    margin-bottom: 2em;
}
.connexionform h3{
    color: #111;
    font-size: 1.5em;
    position: relative;
    bottom: 3em;
}
.connexionform .inputboite input {
    width: 75%;
    border: 1px solid #555;
    padding: 0.5em;
    color: #111;
    outline: none;
    font-weight: 300;
    resize: none;
    margin-bottom: 1em;
    margin-left: 1.5em;
}
.connexionform h5{
    font-style:initial;

    color: #222;
    font-size: 1.2em;
    margin-bottom: 1em;
    margin-left: 1.2em;
}

.connexionform .inputboit input[type="submit"]{
    
    padding: 0.9em 1em;
    font-size: 1.1em;
    font-weight: 700;
    color: #000;
    background: #ee913b;
    
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1em;
    outline: none;
    border: none;
    transition: 0.5s;

    
    border-radius: 1em;
    
}
.connexionform p{
    position: relative;
    top: 4em;
}


@media (min-width:715px) {
    
    .connexionform{
        width:40vw;
        padding: 3em 4em;
        margin-bottom: 5em;
    }
    .connexionform h3{
        position: relative;
        top: -0.1em;
        margin-bottom: 1.2em;
    }
    .connexionform p{
        position: relative;
        margin-bottom: 2em;
    }
}