
a {
  text-decoration: none;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-color: rgba(0,0,0,.5);
}
.container::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:-1;
  opacity: .6;
  background: url('img/image3.jpg') no-repeat;
  background-size: cover;

}
.tr-title{
  text-align:center; 
  font-size: 1.8em; 
  margin-bottom: 20px;  
}
p {
  margin: 10px 0;
  font-size: .9em;
}
.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.type-container{
  width:350px;
  height: 300px;
  font-size: 1.3em;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  border: solid 1px #000;
  margin:10px;
}

.type-frame {
  width:100%;
  height: 130px;
  color:#fff;
  font-weight: bold;
  background-color: rgba(0,0,0,.4);
  padding:5px;
  position: relative;
}
.btn-consulter {
  position: absolute;
  right: .5em;
  bottom: .5em;
  padding:.6em;
  background-color: #D2691E;
  color:#fff;
  font-size: .8em;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: .7em;
}
.btn-consulter:hover{
  background-color: #ff9549;
  padding:1em;
  -webkit-box-shadow: 1px 6px 14px -3px #000000; 
  box-shadow: 1px 6px 14px -3px #000000;
}
.type-container:hover {
  width:360px;
  height: 310px;
  -webkit-box-shadow: 1px 6px 14px -3px #000000; 
  box-shadow: 1px 6px 14px -3px #000000;
}
/* barre de progression*/
.stepper-wrapper {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  width: 60vw;
}
.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.stepper-item::before {
  position: absolute;
  content: "";
  border-bottom: 8px solid #ccc;
  width: 100%;
  top: 18px;
  left: -50%;
  z-index: 2;
}

.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 8px solid #ccc;
  width: 100%;
  top: 18px;
  left: 50%;
  z-index: 2;
}

.stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ccc;
  margin-bottom: 6px;
}

.stepper-item.active {
  font-weight: bold;
}
.stepper-item.active .step-counter {
  background-color: #EE913BE5;
}

.stepper-item.completed .step-counter {
  background-color: #EE913BE5;
}

.stepper-item.completed::after {
  position: absolute;
  content: "";
  border-bottom: 8px solid #EE913BE5;
  width: 100%;
  top: 18px;
  left: 50%;
  z-index: 3;
}

.stepper-item:first-child::before {
  content: none;
}
.stepper-item:last-child::after {
  content: none;
}
@media (min-width:715px){
  .cards-container{
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
  }
  .type-container {
      width:400px;
      height: 380px;
  }
  .type-container:hover {
      width:400px;
      height: 390px;
      -webkit-box-shadow: 1px 6px 14px -3px #000000; 
      box-shadow: 1px 6px 14px -3px #000000;
  }
  .stepper-wrapper {
      width: 40vw;
  }
}
