{% extends "layoutAdmin.html" %}
{% block navbar %}../static/{% endblock  %}
{% block navbarJs %}../static/{% endblock  %}
{% block links %}../static/admin.css{% endblock  %}

{% block content %}
    <div class="container">
        <div class="cards-container">
            <div class="row">
                <div class="admin-card" style="background-color: #8986FE;">
                    <div class="left">
                        <h2>Clients</h2>
                        <p>{{clients}}</p>
                        <a href="" class="btnAfficher">afficher</a>
                    </div>
                    <div class="right">
                        <img src="static/img/admin-c.png" alt="">
                    </div>
                </div>
                <div class="admin-card" style="background-color: #8DF87C;">
                    <div class="left">
                        <h2>Reservations</h2>
                        <p>{{reservations}}</p>
                        <a href="" class="btnAfficher">afficher</a>
                    </div>
                    <div class="right">
                        <img src="static/img/admin-r.png" alt="">
                    </div>
                </div> 
            </div>
            <div class="row">
                <div class="admin-card" style="background-color: #FB9C8F;">
                    <div class="left">
                        <h2>Messages</h2>
                        <p>{{messages}}</p>
                        <a href="" class="btnAfficher">afficher</a>
                    </div>
                    <div class="right">
                        <img src="static/img/admin-m.png" alt="">
                    </div>
                </div>
                <div class="admin-card" style="background-color: #FFB571;">
                    <div class="left">
                        <h2>Chambres</h2>
                        <p>{{chambres}}</p>
                        <a href="" class="btnAfficher">afficher</a>
                    </div>
                    <div class="right">
                        <img src="static/img/admin-ch.png" alt="">
                    </div>
                </div> 
            </div>
           
        </div>
    </div>

{% endblock  %}
{% block footer %}{% endblock %}
{% block js %}{% endblock  %}