{% extends "layout.html" %}
{% block navbar %}static/{% endblock  %}
{% block navbarJs %}static/{% endblock  %}
{% block footer %}static/{% endblock  %}
{% block links %}static/activite.css{% endblock  %}

{% block content %}
<section class="activité" id="activité">
    <div class="restaurant">
        <h1>restauration</h1>
        <div class="image">
            <img src="static/img/resto.png" alt="">
        
        <div class="soustitre">
           <h2>une offre cullinaire</h2>
           <h3>A COUPE LE SOUFFLE</h3>
                        
        </div>
      </div>
        <div class="discription">
          <div class="trait"></div>
          <div class="box">
          <div class="chef">
              
              <img src="static/img/chef.png" alt="">
              <div class="title">
                <h4>presentation</h4>
                <p>Chef Christophe Moret Christophe Moret, Chef Exécutif.</p>
              </div>
          </div>
          <div class="titres">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non ad ducimus corrupti soluta maxime temporibus hic molestias cupiditate eos quasi voluptatem saepe obcaecati libero consequuntur nostrum totam, quae autem voluptate!</p>
        </div>
        </div>
        <div class="trait"></div>
      </div>
    </div>
    <div class="Piscine">
      <h1>Piscine</h1>
      <div class="image">
          <img src="static/img/piscine.png" alt="">
      
      <div class="soustitre">
         <h2>une offre cullinaire</h2>
         <h3>A COUPE LE SOUFFLE</h3>
                      
      </div>
    </div>
      <div class="discription">
        <div class="trait"></div>
        <div class="box">
        <div class="titres">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non ad ducimus corrupti soluta maxime temporibus hic molestias cupiditate eos quasi voluptatem saepe obcaecati libero consequuntur nostrum totam, quae autem voluptate!</p>
      </div>
      </div>
      <div class="trait"></div>
    </div>
    </div>
    <div class="Piscine">
      <h1>Petit parc</h1>
      <div class="image">
          <img src="static/img/parc.png" alt="">
      
      <div class="soustitre">
         <h2>une offre cullinaire</h2>
         <h3>A COUPE LE SOUFFLE</h3>
                      
      </div>
    </div>
      <div class="discription">
        <div class="trait"></div>
        <div class="box">
        <div class="titres">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non ad ducimus corrupti soluta maxime temporibus hic molestias cupiditate eos quasi voluptatem saepe obcaecati libero consequuntur nostrum totam, quae autem voluptate!</p>
      </div>
      </div>
      <div class="trait"></div>
    </div>
    </div>
  </section>


{% endblock  %}

{% block js %}{% endblock  %}