{% extends "layout.html" %}
{% block navbar %}static/{% endblock  %}
{% block navbarJs %}static/{% endblock  %}
{% block footer %}static/{% endblock  %}
{% block links %}static/chambres.css{% endblock  %}

{% block content %}
<div class="typechambre">
{% for key, chambre in chambres %}

{% if key % 2 == 0 %}
    <div class="all">
        <div class="img">
            {% for image in images[chambre.getId] %}
            <img src="{{image.getPath}}" >
            {% endfor %}
        </div>
        <div class="discription">
            <h3>{{chambre.getNom}}</h3>
            <p class="p">Prix: {{chambre.getPrix}} DA</p>
            <p class="p">Type: {{chambre.getType}}</p>
        <div class="blok">
            <p>{{chambre.getDescription}}</p>     
        </div>
    </div>
</div>
{% else %}
<div class="all1">
        <div class="img">
            {% for image in images[chambre.getId] %}
            <img src="{{image.getPath}}" >
            {% endfor %}
        </div>
        
            <div class="discription1">
                <h3>{{chambre.getNom}}</h3>
               
                <p class="p">Type: {{chambre.getType}}</p>
                <p class="p">Prix: {{chambre.getPrix}} DA</p>
                <div class="bloc1">
                    <p>{{chambre.getDescription}}</p>
                </div>
            </div>

    </div>
{% endif %}
{% else %}
    <div style="text-align: center;margin:2em 0;font-size:1.5em;">Chambre Indisponible</div>

{% endfor %}
</div>
{% endblock  %}

{% block js %}{% endblock  %}

