
{% extends "layout.html" %}
{% block navbar %}static/{% endblock  %}
{% block footer %}static/{% endblock %}
{% block navbarJs %}static/{% endblock  %}
{% block links %}static/client.css{% endblock  %}

{% block content %}
<section class="client" id ="client">
    <div class ="profil">
        <div class="image">
            <div class="imbox">
                <img src="images_profil/{{client.getImageClient}}" alt="">
            </div>
        <a href="" onclick="modifier()">Modifier</a>
        </div>
       <p>{{client.getNom}} {{client.getPrenom}}</p>
    
    </div>

<div class="informations">
        <h2>Vos information</h2>
        <div class="prenom_nom">
            <div class="a">
                <p>Nom : <span>{{client.getNom}}</span></p>
                <p>Prenom : <span>{{client.getPrenom}}</span></p>
                <p>Date de naissance : <span>{{client.getDateNaiss.format('d-m-Y')}}</span></p>
            
            </div>
            
        </div>   
</div>
<div class="trai"></div>
<form method="post" action="" class="contact">
    {% if errors %}
        <div style="color:#f00;" >erreur lors de la saisie d'un des champs</div>
    {% endif %}
    <h2>Contact</h2>
    <div class="input-group">
        <label for="adresse">Adresse: </label> 
         <input type="text" name="adresse" id="adresse" value="{{client.getAdresse}}">  
     </div>
    <div class="input-group">
       <label for="email">E-mail: </label> 
        <input type="email" name="email" id="email" value="{{client.getEmail}}">  
    </div>
    <div class="input-group">
        <label for="tel">Tel: </label> 
         <input type="tel" name="tel" id="tel" value="{{client.getTel}}">  
    </div>
   
    <button type="submit" class="btn-modifier">modifier</button>
</form>

<div class="trai"></div>
<form action="" method="post" class="update_mdp">
    {% if errorsMdp %}
        <div style="color:#f00;" >erreur mot de passe invalide</div>
    {% endif %}
    <h2>changer Mot de passe:</h2>
    <div class="input-group">
        <label for="mdp">mot de passe actuel: </label> 
         <input type="password" name="mdp" id="mdp"/>  
    </div>
    <div class="input-group">
        <label for="mdp">Nouveau mot de passe: </label> 
         <input type="password" name="New-mdp" id="New-mdp"/>  
    </div>
    <div class="input-group">
        <label for="confirm_mdp">confirmation:  </label> 
         <input type="password" name="confirm_Newmdp" id="confirm_Newmdp">  
    </div>
    <button type="submit" class="btn-modifier">modifier</button>
</form>

<div class="trai"></div>


<div class="reservation">
    <h2>Reservations prises :</h2>
<div class="table-container">

    <table>
    <tr>
    <td>N° chambre</td>
    <td>Date d'arrivèe</td>
    <td>date de départ</td>
    <td>Prix</td>
    <td>annuler</td>
    </tr>
    {% for reservation in reservations %}
    <tr>
        <td>{{reservation.getIdChambre}}</td>
        <td>{{reservation.getDateArrivee}}</td>
        <td>{{reservation.getDateDepart}}</td>
        <td>{{reservation.getPrix}} DA</td>
        <td><form method="get" action="{{router.url('annuler',{'id':reservation.getId})}}" 
            onsubmit="return confirm('Voulez vous vraiment effectuer cette action ?')" style="display:inline;">
            <button type="submit" class="btnSection">annuler</button>
            </form>
        </td>
    </tr>
    {% else%}
    <tr>
        <td class="notFound" colspan="5" style="text-align: center;">pas de reservations effectuées pour le moment</td>
    </tr>
    {% endfor %}
    </table>
</div>
</div>
</section>
<div class="modal" id="myModal">
    <form action="{{router.url('client')}}" method="post" class="modal-content" enctype="multipart/form-data">
        <span class="close">&times;</span>
        <h2>Modification de la photo de profil</h2>
        <img src="images_profil/{{client.getImageClient}}" alt="">
        <input type="file" name="image" id="image">
        <button type="submit" class="btnConfirmer">confirmer</button>
    </form>
</div>

{% endblock  %}

{% block js %} <script src="static/client.js"></script> {% endblock  %}


    
    
