
{% extends "layout.html" %}
{% block navbar %}static/{% endblock  %}
{% block footer %}static/{% endblock %}
{% block navbarJs %}static/{% endblock  %}
{% block links %}static/paiement.css{% endblock  %}

{% block content %}
<section class="paiment"id="paiement">
    <div class="titre noir">
        <h2 class="titre-texte">Veuillez choisir un mode de paiement:</h2>
    </div>
  <div class="cartes">
 <div class="carte">
        <div class="text">
            <p>Sur place</p>
        </div>
            
                <div class="image">
                    <img src="static/img/p sur p.png" alt=""> 
                </div>
            
                <form method="post" action="{{router.url('recap')}}" class="btnSection">
                    <input type="text" style="display: none;" name="type_paiement" value="sur place">
                    <button type="submit" >Choisir</button>
                </form>

 
    </div>
 <div class="carte">
    <div class="text">
        <p>par versement</p>
    </div>
        
            <div class="image">
                <img src="static/img/p parver.png" alt="">
            </div>
        
        <form method="post" action="{{router.url('recap')}}" class="btnSection">
            <input type="text" style="display: none;" name="type_paiement" value="par versement">
            <button type="submit" >Choisir</button>
        </form>

 
 </div> 
 </div>
</section>

{% endblock  %}

{% block js %}{% endblock  %}


    
    
