
{% extends "layout.html" %}
{% block navbar %}static/{% endblock  %}
{% block footer %}static/{% endblock %}
{% block navbarJs %}static/{% endblock  %}
{% block links %}static/reservation.css{% endblock  %}

{% block content %}
<div class="container">
    <div class="stepper-wrapper">
        <div class="stepper-item active">
        <div class="step-counter">I</div>
        <div class="step-name">Types</div>
        </div>
        <div class="stepper-item">
        <div class="step-counter">II</div>
        <div class="step-name">Extras</div>
        </div>
        <div class="stepper-item">
        <div class="step-counter">III</div>
        <div class="step-name">Recap</div>
        </div>
    </div>
     <h1 class="tr-title">Type de chambres</h1>
    <div class="cards-container">
        {% for type in types %}
        <div class="type-container" style="background-image: url('static/img/{{images[type.getId]}}');">
            <div class="type-frame">
                <p>{{type.getNomType}}</p>
                <p>tarif: {{type.getPrix}}DA</p>
                <p>{{type.getNbPersonnes}} personnes</p>
                <form  action="{{router.url('paiement')}}" method="post" >
                    <input type="text" style="display: none;" name="idType" value="{{type.getId}}">
                    <input type="text" style="display: none;" name="prix" value="{{type.getPrix}}">
                    <button type="submit" class="btn-consulter">Choisir</button>
                </form>
            </div>
        </div>
            
                                
            {% else %}
                    <h2>aucune chambre disponible durant les dates choisie</h2>
        {% endfor %}
    </div>
   
</div>
{% endblock  %}

{% block js %}{% endblock  %}


    
