{% extends "layout.html" %}
{% block navbar %}static/{% endblock  %}
{% block navbarJs %}static/{% endblock  %}
{% block footer %}static/{% endblock  %}
{% block links %}static/types.css{% endblock  %}

{% block content %}
<div class="container">
    <h1>Types de chambres</h1>
    {% if error %} <p style="color:red;font-size:1.1em;text-align: center;">Chambre indisponible dans la periode saisie </p> {% endif %}
    <div class="type-container">
        {% for type in types %}
        <div class="type-card">
            <div class="type-image">
                <img src="static/img/{{images[type.getId]}}" alt="">
            </div>
            <div class="type-dis">
                <p>{{type.getNomType}}</p>
                <p>prix:{{type.getPrix}} DA</p>
                <p class="description">{{type.getDescription}}</p>
                <a href="{{router.url('type',{id:type.getId})}}" class="button consulter">Consulter</a>
                <a href="" class="button verifier" id="verifier" onclick="verifier('{{type.getId}}','{{type.getPrix}}')">Verifier disponibilité</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div id="myModal" class="modal">

    
    <form method="post" action="{{addonsUrl}}" class="modal-content">
        <span class="close">&times;</span>
        <h2>Veuillez saisir deux dates:</h2>
        <div>
            <label for="dateA">date d'arrivée</label>
            <input type="date" name="dateA" id="dateA">
        </div>
        <div>
            <label for="dateD">date de depart</label>
            <input type="date" name="dateD" id="dateD">
        </div>
        <input type="number" name="idType" id="idType" style="display:none;">
        <input type="number" name="prix" id="prix" style="display:none;">
        <button type="submit" class="button verifier">Verifier</button>
    </form>
</div>
{% endblock  %}

{% block js %}<script src="static/types.js"></script>{% endblock  %}

